body{
    font-family: 'TT Hoves';
    color: #222;
    margin: 0;
}

section {
    padding: 0 calc(10vw - 16px )  ;
}

.screen1{
   background-image: url(../img/html_css_js\ 1.png);
   background-repeat: no-repeat;
   background-position: top calc(4.8vw + 59px) right calc(6vw - 20px);
   background-size: calc(23.8vw + 89px);
}

 .logo{ 
    width: calc(8.8vw + 182px) ;
    margin: calc(0.3vw + 41px) calc(0.804vw + -165px) 0 0;
}

 .courseData{
    margin:calc(6.3vw + 4px) 0;
    display: flex;
    gap: calc(14.4vw - 24px);
    flex-wrap: wrap;

    font-size: calc(0.5vw + 14px);
    line-height: 140%;
 }
  
.courseInfo{
   min-width: 150px;
}

 .courseData .value{
    font-weight: 700;
}

 .zagalovok1{
    font-family: Chava;
    font-size: calc(4.2vw + 26px);
    line-height: 110%;

    display: flex;
    flex-wrap: wrap;
   
    margin: calc(0.031vw + 36px)  calc(0.404 + -127px) 0 0;
 }

 .zaga1{
    width: calc(0.665vw + 78p.5x);
    height: calc(0.066vw + 275px);
    font-size: calc(1vw + 14px);
    font-weight: 300;
    line-height: 140%;

    display: flex;
    flex-direction: column;
    gap: calc(0.11vw + 18.5px);

    margin: calc(0.022vw + 11px) calc(0.227vw + 61px)  0 0;
}

 .cta{
    display: flex;
    gap: calc(0.011vw + 15.8px);
    flex-wrap: wrap;

    margin: 20px 0 0 0;
}

 .primary{
    width: 328px;
    border-radius: 12px;
    background: #6E3ABA;
    color:#fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}

 .secondary{
    width: 328px;
    border-radius: 12px;
    background: #fff;
    color:#6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    border: 1px solid #6E3ABA;
}

 .zagalovok2{
    display: flex;
    flex-direction: column;
    width: calc(48.7vw + 145px);
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;

    margin: calc(11vw + 18.5px) calc(40.6vw + -123px) 0 0;
 }

 .punkt{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   
 }

 .punkt1 .punkt2 .punkt3 .punkt4{
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
 }

 .punkt h4 { 
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 140%;
    font-size: calc(1vw + 14px);
   
}

.punkt p { 
   display: flex;
   flex-direction: column;
   font-weight: 400;
   line-height: 140%;
   font-size: calc(1vw + 14px);
}

.punkt1{
    margin:90px 70px 0 0;
}
   
#a1{
    width: 287px;
    height: 287px;
    margin: -49px -38px -28px -39px;
}

.punkt1 h4{
    width: 420px;
    margin: 20px 100px 0 0;
}

.punkt1 p{
    width: 450px;
    margin: 20px 70px 0 0;
}


.punkt2{
    margin: 51px 88px 0 0;
}

#a2{
    width: 192px;
    height: 192px;
    margin: -5px -18px -13px 0;
}

.punkt2 h4{
    width: 318px;
    margin: 23px 0 20px ;

}
.punkt2 p{
    width: 432px;
}

.punkt3{
    margin: 90px 160px 0 0;
}

#a3{
    width: 254px;
    height: 254px;
    margin: -31px -12px -13px -32px;
}

.punkt3 h4{
    width: 369px;
 }

 .punkt3 p{
    width: 450px;
 }


.punkt4{
    margin-top:90px ;
    margin-right: 163px;
}

#a4{
    width: 238px;
    height: 238px;
    flex-shrink: 0;
    margin: -29px -14px 1px ;
   }

.punkt4 h4{ 
    width: 434px;

    margin: 11px  206px 0 0;
}
 
.punkt4 p{
    width: 477px;

    margin: 20px 163px 0 0;
} 

.screen3{
   background-color: #6E3ABA;
   margin: calc(11vw + 18px) 0 ;
   padding: 0 calc(10vw - 16px ) 0;
   height: calc( 31.3vw + 222px);
}

.zagalovok4{
    color: var(--typo-white, #FFF);
    /* width: calc(38.2vw + 186px);
    height: calc(2.1vw + 88px); */
    font-size: calc(2vw + 26px);
    font-weight: 700;
    letter-spacing: calc(0.1vw + 0.315px);
    display: flex;
    justify-content: center;
    margin: 0;
    padding:  calc(4.4vw + 23px) 0  0 ;
}

.time{
   display: flex;
   justify-content: space-evenly;
}

.time h1{
   color: #2F1D4E;
   font-family: Chava;
   font-size: calc(12.6vw + 12.7px);
   font-weight: 400;
   line-height: 107.5%;
   margin: 0;
}


.time h4{
   color: #2F1D4E;
   text-align: center;
   font-size: calc(1.9vw + 3px);
   font-weight: 500;
   margin: 0;
}
  
.time1{
   width: calc(18.1vw + 19px);
   height: calc(13.4vw + 16px);

   margin: calc(4.1vw + 4.6px) calc(6.4vw + 8px) 0 0;
}

.time2{
   width: calc(18.1vw + 19px);
   height: calc(13.4vw + 16px);

   margin: calc(4.1vw + 4.6px) calc(5.6vw + 7.8px) 0 0;
}

.time3{
   width: calc(18.1vw + 19px);
   height: calc(13.4vw + 16px);

   margin: calc(4.1vw + 4.6px) 0 0 0;
}

.cta3{
   display: flex;
   align-items: flex-start;
   width: 328px;
   margin: calc(6.3vw + 8.3px) calc(36.7vw + -114px) calc(5.2vw + 21.5px) ;
  
   gap: 10px;
   border-radius: 12px;
   background: #FFF;

}

.cta3 div{ 
   padding: 20px 0px;
   display: flex;
   flex-direction: column;
   flex: 1 0 0;
   color: #6E3ABA;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
}

.zagalovok3{
    display: flex;
    width: 1022px;
    flex-direction: column;

    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;

    margin: 160px 0 0;
}

.obucheniye{
    display: flex;
    gap: 30px 120px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.obucheniye1 h4{
    font-size: 27px;
    font-weight: 600;

    margin: 90px 248px 0 0 ;
}

     
.obucheniye1 p{
    display: flex;
    width: 400px;
    flex-direction: column;

    font-size: 27px;
    line-height: 140%;

    margin: 20px 120px 0 0;
}


.obucheniye2 h4{
    display: flex;
    width: 428px;
    flex-direction: column;

    font-size: 27px;
    font-weight: 600;
    line-height: 140%;

    margin: 90px 212px 0 0 ;
}

.obucheniye2 p{
    display: flex;
    width: 400px;
    flex-direction: column;

    font-size: 27px;
    line-height: 140%;

    margin: 20px 240px 0 0;
}


.obucheniye3 h4{
    font-size: 27px;
    font-weight: 600;
    line-height: 140%;

    margin: 90px 284px 0 0 ;
}

.obucheniye3 p{
    display: flex;
    width: 400px;
    flex-direction: column;

    font-size: 27px;
    line-height: 140%;

    margin: 20px 120px 0 0;
}

.obucheniye4 h4{
    font-size: 27px;
    font-weight: 600;
    line-height: 140%;

    margin: 52px 247px 0 0;
}

.obucheniye4 P{
    display: flex;
    width: 400px;  
    flex-direction: column;

    font-size: 27px;
    line-height: 140%;

    margin: 20px 240px 0 0;
}

.screen4{
   margin: calc(11vw + 18.5px) 0  ;
   height: ;
}

.screen4 h2{
   font-size: calc(2.65vw + 24px);
   font-weight: 500;
   text-transform: uppercase;
   margin: 0;
}

.container{
   display: flex;
   flex-wrap: wrap;
   gap: 51px;
}

.lift-box img{
   width: calc(7.7vw + 300px);
   height: calc(10.8vw + 423.3px);

   margin: calc(5.5vw + 19.2px) 0 0 ;
}

.right-top h3{
   display: flex;
   flex-direction: column;
   width:calc(24.9vw + 247.7px);
   height: auto;
   font-size: calc(2.7vw + 24px);
   font-weight: 700;
   line-height: 120%;

   margin: calc(8.7vw + -12.7px) 0 0 0;
}

.right-top p{
   display: flex;
   flex-direction: column;
   width: calc(26.3vw + 229.3px);
   height: auto;
   font-size: calc(1vw + 14px);
   line-height: 140%;
   max-width: 560px;
}

.right-card p{
   width: calc(10.4vw + 117px);
   font-size: calc(0.6vw + 14px);
   font-weight: 400;
   line-height: 140%;
}

.right-cards {
   display: flex;
   flex-direction: column;
   display: grid;
   grid-template-areas: "card1 card2"
                        "card3 card4";
}

.right-card:nth-child(1){
   grid-area: card1;
}

.right-card:nth-child(2){
   grid-area: card2;
}

.right-card:nth-child(3){
   grid-area: card3;
}

.right-card:nth-child(4){
   grid-area: card4;
}

.right-card p{
   margin: 0;
   font-size: 21px;
   line-height: 140%;
   max-width: 250px;
}

/* @media (max-width: 1280px){
   body{
      margin: 0;
   }

   .section{
      padding: 0 121px;
   }

   .logo{
      display: flex;
      width: 295px;
      height: 41px;
      justify-content: center;
      align-items: center;

      margin: 37px 864px 0 0;
   }
 
   .zagalovok1{
      display: flex;
      width: 778px;
      flex-direction: column;

      font-family: Chava;
      font-size: 80px;
      line-height: 110%;

      margin: 76px 390px 0 0;
   }

   .zaga1{
      font-size: 27px;
      font-weight: 300;
      line-height: 140%;

      margin: 40px 229px 0 0;
   }

   .zagalovok2{
      display: flex;
      width: 769px;
      flex-direction: column;

      font-size: 58px;
      font-weight: 500;
      letter-spacing: 0.58px;

      margin: 160px 391px 0 0;
   }

   .punkt1 .punkt2 .punkt3 .punkt4{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }

   .punkt h4{
      display: flex;
      flex-direction: column;
      font-size: 27px;
      font-weight: 600;
      line-height: 140%;
   }

   .punkt p{
      display: flex;
      flex-direction: column; 
      font-size: 27px;
      font-weight: 400;
      line-height: 140%;

   }

   .punkt1 h4{
      width: 420px;
      
      margin: 20px 100px 0 0;
   }

   .punkt1 p{
     width: 450px;
     
     margin: 20px 70px 0 0 ;
   }

   .punkt3 h4{
      width: 369px;

      margin: 20px 271px 0 0;
 }
 
   .punkt2 h4{
      width: 318px;

      margin: 23px 202px 0 0;
   }

   .punkt2 p{
      width: 432px;

      margin: 20px 88px 0 0;
   }

   .punkt4 h4{
      width: 434px;

      margin: 11px 206px 0 0;
   }

   .punkt4 p{
      width: 477px;

      margin: 20px 163px 0 0;
   }

   .zagalovok3{
      display: flex;
      width: 1022px;
      flex-direction: column;

      font-size: 58px;
      font-weight: 500;
      letter-spacing: 0.58px;

      margin: 160px 138px 0 0;

   }

   .obucheniye{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
   }

   .obucheniye1 .obucheniye2 .obucheniye3 .obucheniye4{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
   }

   .obucheniye h4{
      font-size: 27px;
      font-weight: 600;
      line-height: 140%;
   }

   .obucheniye p{
      display: flex;
      width: 400px;
      flex-direction: column;

      font-size: 27px;
      font-weight: 400;
      line-height: 140%;
   }

   .obucheniye1 h4{
      margin: 90px 248px 0 0;
   }

   .obucheniye1 p{
       margin:20px 120px 0 0 ;
   }

   .obucheniye2 h4{
      width: 428px;

      margin: 90px 212px 0 0;
   }

   .obucheniye2 p{
      margin: 20px 240px 0 0;
   }

   .obucheniye3 h4{
      margin: 90px 284px 0 0;
   }

   .obucheniye3 p{
      margin: 20px 120px 0 0;
   }

   .obucheniye4 h4{
      margin: 52px 247px 0 0;
   }

   .obucheniye4 p {
      margin: 20px 120px 0 0;
   }

} */


/* @media(max-width: 400px){
   body{
      margin: 0;
   }

   section{
      padding:0 24px ;
   }

   .logo{
      display: flex;
      width: 215.135px;
      height: 30px;

      margin: 40px 136px 0 0 ;
   }

  
   
   .zagalovok1{
      display: flex;
      width: 333px;
      flex-direction: column;
      align-items: center;

      font-size: 42px;
      line-height: 110%;

      margin: 48px 0 0 0;
   }

   .zaga1{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 18px;
      font-weight: 300;
      line-height: 140%;

      margin: 20px 0 0 0 ;
   }

   .zagalovok2{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 34px;
      font-weight: 500;

      margin: 60px 0 0 0;
   }

   .punkt{
      display: flex;
      flex-wrap: wrap;
      flex-direction:row ;
   }

   .punkt1 .punkt2 .punkt3 .punkt4{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      margin: 40px 0 0 0;
   }
 
   #a1{
      width: 230px;
      height: 230px;

      margin: -25px -13px -25px -37px; 
   }

   .punkt h4{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 18px;
      font-weight: 600;
      line-height: 140%;
   }
   
   .punkt p{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
   }

   .punkt1 h4{
       margin: 10px 0 0 0;
   }

   
   
   .punkt1 p{
      margin: 20px 0 40px;
   }

   #a3{
      width: 207px;
      height: 207px;

      margin: -27px -19px 0 -8px;
   }

   .punkt3 h4{
      margin: 10px 0;
   }

   .punkt3 p{
      margin: 10px 0 0 0;
   }

   #a2{
      width: 175px;
      height: 175px;

      margin: 5px 5px 0 0;
   }

   .punkt2 h4{
      margin: 10px 0 0 0;
   }

   .punkt2 p{
       margin: 10px 0 0 0 ;
   }

   #a4{
      width: 195px;
      height: 195px;

      margin: -15px -8px 0 -7px;
   }

   .punkt4 h4{
      margin: 10px 0 0 0;
   }

   .punkt4 p{
       margin: 10px 0 0 0;
   }

   .zagalovok3{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 34px;
      font-weight: 500;
      letter-spacing: 0.34px;

      margin: 60px 0 0 0;

   }

   .obucheniye{
      flex-wrap: nowrap;
      flex-direction: column;
   }

   .obucheniye1 .obucheniye2 .obucheniye3 .obucheniye4{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
   }

   .obucheniye h4{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 18px;
      font-weight: 600;
      line-height: 140%;

      margin: 30px 0 0 0;
   }

   .obucheniye p{
      display: flex;
      width: 328px;
      flex-direction: column;

      font-size: 18px;
      font-weight: 400;
      line-height: 140%;

      margin: 10px 0 0 0;
   }
}  */